.last-table {
    display: flex;
    justify-content: center;
    background: #3D2F95;
    color: #fff;
    padding: 20px;
}
.last-table .wrapper {
    display: flex;
    width: 75%;
    min-width: 45%;
    justify-content: space-between;
}
.last-table .wrapper .MuiFormControl-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.last-table .wrapper .MuiFormControl-root input {
    color: #fff;
    border-bottom: 2px solid #fff;
}
.last-table .wrapper  .MuiInput-formControl {
    margin-top: 0;
    margin-left: 15px;
    width: 100%;
   
}
.last-table input, .last-table select {
    color: #fff;
   border-bottom: 2px solid #fff;
   
}
.last-table select option {
    color: #000
}
@media screen and (max-width: 1400px) {
    .last-table .wrapper  {
        width: 100%;
       
        min-width: 60%;
    }
  }