.main-header {
    
    background: #3D2F95;
    color: #fff;
    display: flex;
    justify-content: center;
    
    padding: 20px;
}
.wrapper {
   width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper  form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
    align-items: center;
}
form .css-2b097c-container{
    width: 20%;
    background: transparent;
    color: #000;
    margin-top: 10px;

}
form .css-yk16xz-control {
    background: transparent;
    border: none
}

.MuiIcon-root {
    font-size: 1rem !important;
    margin-left: 5px;
}
.main-header input, .main-header select {
    color: #fff;
   background: transparent;
   border: none;
   border-bottom: 2px solid #fff;
   
}
.main-header  .MuiFormControl-root .input{
    margin-top: 12px;
}
.main-header  .MuiFormControl-root input {
    padding-bottom: 10px;
    font-size: 15px;
}

 .MuiFormControl-root input::placeholder {
    color: #fff !important;
    font-size: 15px;
    padding: 5px;
}
.Location {
    width: 15%;
}
.MuiNativeSelect-root {
    margin-left: 10px;
}

.main-header select  option {
    color: #000;
}
.main-header label {
    color: #fff;
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #fff !important;
}
.MuiSvgIcon-root {
    color: #fff
}
.MuiNativeSelect-icon {
    color: #fff !important;
}
.MuiPickersCalendarHeader-iconButton > * > * {
    color: #000;
}
.MuiTypography-body1 {
    
    
}
body .css-yk16xz-control {
    border-bottom: 2px solid #fff !important;
    cursor: pointer
}
.css-1okebmr-indicatorSeparator {
    display: none;
}
body .css-12jo7m5 {
    color: #fff;
    font-size: 92%;
}

body .css-1wa3eu0-placeholder {
    color: #fff
}
body .css-1alnv5e {
   cursor: pointer
}
body .css-1alnv5e:hover {
        background-color: transparent
}
body .css-26l3qy-menu {
  white-space: nowrap;
  min-width: 400px;
  width: auto !important;
 display: inline-block;
   flex-direction: column

}
body .css-26l3qy-menu .psa {
 
  display: inline-block;
  width: auto !important;
  min-width: 100%;
}
body .css-26l3qy-menu  label {
    color: #000 !important;
    width: 100px;
    
   
   
}
body .css-26l3qy-menu  input {
    background-color: transparent !important;
    border: 1px solid grey;
    width: 15px;
    height: 15px;
}
body .css-tj5bde-Svg {
    color: #fff
}
body .css-1rhbuit-multiValue {
    background-color: transparent;
    color: #fff;
}
body .css-1pahdxg-control {
    background: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
    
}
body .css-19bqh2r  {
    color: #fff
}
body .css-1pahdxg-control  input {
    color: #fff !important
}
@media screen and (max-width: 1400px) {
    .wrapper  form {
        width: 100%;
       
        min-width: 90%;
    }
  }
  @media screen and (max-width: 500px) {
    .city-dropdown {
        flex-direction: column;
        width: 100% !important;
    }
    .city-dropdown .css-2b097c-container {
        margin-top: 5px;
        margin-bottom: 15px;
        width: 100% !important;
    }
    .MuiFormControl-root {
        width: 100% ;
       
    }
    .MuiButton-containedPrimary {
        margin-top: 15px !important;
    }
  }